<!DOCTYPE html>
<html>
<head>
    <title>My Bar Graph</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="buttons.css">
	
	<style>
		.container {
			display: flex;
			flex-wrap: wrap;
		}
		
		.chart-container {
			flex-basis: 85%;
			margin: 10px;
		}
		
		.buttons-container {
			flex-basis: 10%;
			margin-right: 20px;
			margin-left: 10px;
			word-spacing: normal;
		}
	</style>
</head>
<body>
    <div class="container">
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
        <div class="buttons-container">
            <button type="button" onclick="toggleChart()" class="press press-bluegrey press-round press-ghost press-xl" id="button1" style="margin-top: 70px;">Chart Toggle</button>
            <button type="button" class="press press-bluegrey press-round press-ghost press-xl" id="button2" style="margin-top: 70px;">Start Log</button>
            <button type="button" class="press press-bluegrey press-round press-ghost press-xl" id="button3" style="margin-top: 70px;">Button 3</button>
        </div>
    </div>
	<div style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 10;">

		<div style="border: 2px solid black; border-radius: 10px; padding: 20px; background-color: #f5f5f5; width: 100px; text-align: center;">
			<h2 id="TH_Box_1" style="margin-top: 0;">undefined°C</h2>
			<p style="text-align: center;">TH1</p>
		</div>
	 
		<div style="border: 2px solid black; border-radius: 10px; padding: 20px; background-color: #f5f5f5; width: 100px; text-align: center;">
			<h2 id="TH_Box_2" style="margin-top: 0;">undefined°C</h2>
			<p style="text-align: center;">TH2</p>
		</div>
	 
		<div style="border: 2px solid black; border-radius: 10px; padding: 20px; background-color: #f5f5f5; width: 100px; text-align: center;">
			<h2 id="TH_Box_3" style="margin-top: 0;">undefined°C</h2>
			<p style="text-align: center;">TH3</p>
		</div>
	 
		<div style="border: 2px solid black; border-radius: 10px; padding: 20px; background-color: #f5f5f5; width: 100px; text-align: center;">
			<h2 id="TH_Box_4" style="margin-top: 0;">undefined°C</h2>
			<p style="text-align: center;">TH4</p>
		</div>
	 
		<div style="border: 2px solid black; border-radius: 10px; padding: 20px; background-color: #f5f5f5; width: 100px; text-align: center;">
			<h2 id="TH_Box_5" style="margin-top: 0;">undefined°C</h2>
			<p style="text-align: center;">TH5</p>
		</div>
	 
		<div style="border: 2px solid black; border-radius: 10px; padding: 20px; background-color: #f5f5f5; width: 100px; text-align: center;">
			<h2 id="TH_Box_6" style="margin-top: 0;">undefined°C</h2>
			<p style="text-align: center;">TH6</p>
		</div>
	 
		<div style="border: 2px solid black; border-radius: 10px; padding: 20px; background-color: #f5f5f5; width: 100px; text-align: center;">
			<h2 id="TH_Box_7" style="margin-top: 0;">undefined°C</h2>
			<p style="text-align: center;">TH7</p>
		</div>
	 
		<div style="border: 2px solid black; border-radius: 10px; padding: 20px; background-color: #f5f5f5; width: 100px; text-align: center;">
			<h2 id="TH_Box_8" style="margin-top: 0;">undefined°C</h2>
			<p style="text-align: center;">TH8</p>
		</div>
		
	 </div>
	 
    <script src="../js/line_chart.js"></script>
</body>
</html>
